<%- include('header') %> 
    <div class="box" id="heading">
        <h1>To-Do List</h1>
        <h2>About the App | <%= kindOfDay %>, <%= dateOfTheWeek %><span>th</span> <%= monthOfTheYear %> <%= currentYear %></h2>

    </div>

<%- include('footer') -%>