<%- include('header')-%>
    <div class="box" id="heading">
        <h1><%= kindOfDay %>, <%= dateOfTheWeek %><span>th</span> <%= monthOfTheYear %> <%= currentYear %></h1>
        <h2>To-do List</h2>
    </div>
    <div class="box">
            <% for (let i = 0; i<newListItems.length; i++) { %>
             <div class="item">
                 <input type="checkbox">
                 <p><%= newListItems[i] %></p>
                </div>
            <% } %>
            <form class="item" action="/" method="post">
                <input type="text" name="newItem" id="newItem" placeholder="New To-Do" autocomplete="off">
                <button type="submit" name="button">+</button>
            </form>
    </div>
<%- include('footer') %> 